// compress: true
@import "vars";


html{
    font-size: 15px;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

// ! BLOCKS
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";