// compress: true
@import "vars";


html{
    font-size: 15px;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 1rem;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

// ! BLOCKS
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/socess";
@import "blocks/btn";
@import "blocks/works";
@import "blocks/work";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/articles";
@import "blocks/footer";


// Helpers
@import "blocks/helpers";
